[Unit]
Description=Planticam webinterface

[Service]
ExecStart=/usr/bin/python3 /opt/planticam_web/main.py
SyslogIdentifier=planticamweb
WorkingDirectory=/opt/planticam_web

[Install]
WantedBy=multi-user.target
