<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
        {% block header %}{% endblock %}
        <style>
            html {
                overflow-y: scroll;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 50%;
                background-image: url("{{ url_for('static', filename='img/grass.svg') }}");
                background-position: bottom right;
            }
        </style>
    </head>
    <body>

    <nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#"><img src="{{ url_for('static', filename='img/logo.svg') }}" uk-svg></a>

            <div class="uk-navbar-item">
                <a href="/" class="uk-text-large uk-text-primary uk-text-bold">Planticam</a>
            </div>

            <ul class="uk-navbar-nav">
                <li {% if nav == '/settings' %}class="uk-active"{% endif %}>
                    <a href="{{ url_for('settings.settings_view') }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: settings"></span>
                        System
                    </a>
                </li>
                <li {% if nav == '/camera' %}class="uk-active"{% endif %}>
                    <a href="{{ url_for('camera.camera_view') }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: camera"></span>
                        Camera
                    </a>
                </li>
                <li {% if nav == '/timelapse' %}class="uk-active"{% endif %}>
                    <a href="{{ url_for('timelapse.timelapse_view') }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: image"></span>
                        Timelapse
                    </a>
                </li>
                {# <li {% if nav == '/video' %}class="uk-active"{% endif %}>
                    <a href="{{ url_for('video.video_view') }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: video-camera"></span>
                        Video
                    </a>
                </li> #}
                <li {% if nav == '/about' %}class="uk-active"{% endif %}>
                    <a href="{{ url_for('about.about_view') }}">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                        About
                    </a>
                </li>
            </ul>

            <div class="uk-navbar-item">
                <div class="uk-text-small uk-text-muted">System time: <span id="systime">{{ systime.strftime("%Y-%m-%d %H:%M:%S") }}</span></div>
            </div>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <form method="POST" action="{{ url_for('login.logout_view') }}">
                    <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span> Logout</button>
                </form>
            </div>
        </div>

    </nav>

    {% block preview_image %}
    <div class="uk-card uk-card-default uk-width-medium" style="z-index: 980; position: fixed; right: 0;">
        <div class="uk-card-media-top">
            <img id="last_capture_image" src="current_image.jpg" width="300" alt="Last camera image taken">
        </div>
        <div class="uk-card-body">
            <p>Last camera image: <br>
                <span id="last_capture_date">{% if last_capture_date %}{{ last_capture_date.strftime("%Y-%m-%d %H:%M:%S") }}{% else %}No image captured{% endif %}</span>
            </p>
            <form method="POST" class="uk-form uk-align-center" action="{{ url_for('capture_now') }}">
                <button class="uk-button uk-button-default"><span class="uk-icon uk-margin-small-right" uk-icon="icon: camera"></span> Capture now</button>
            </form>
        </div>
        <script>
            const time = document.getElementById('systime');
            window.current = moment("{{ systime.strftime('%Y-%m-%dT%H:%M:%S') }}", 'YYYY-MM-DDTHH:mm:ss')
            window.setInterval(() => {
                window.current.add(1, 'seconds');
                time.innerHTML = window.current.format('YYYY-MM-DD HH:mm:ss');
            }, 1000);

            window.last_capture_time = 0;
            window.setInterval(() => {
                fetch("{{ url_for('last_capture_time') }}")
                    .then(response => response.text())
                    .then(text => {
                        if (Number(text) !== window.last_capture_time) {
                            window.last_capture_time = Number(text);
                            const img = document.getElementById('last_capture_image');
                            const date = document.getElementById('last_capture_date');
                            date.innerHTML = moment(text, 'X').format('YYYY-MM-DD HH:mm:ss');
                            img.src = 'current_image.jpg?date=' + text;
                        }
                    });
            }, 10000);
        </script>
    </div>
    {% endblock %}

    <div class="uk-grid-small uk-flex-center uk-margin" uk-grid>
        <div class="uk-width-2xlarge">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    </body>
</html>

