{% extends "base.html.j2" %}

{% block title %}Camera settings{% endblock %}

{% block content %}
<h2>Camera settings</h2>

<p>Here you can configure the image processing for the captured images, this section will be used
for both, video streaming and timelapse series.</p>

<ul uk-accordion="multiple: true">
    <li class="uk-open">
        <a class="uk-accordion-title uk-background-muted uk-padding-small" href="#">Basics</a>
        <div class="uk-accordion-content">
            <form class="uk-form-horizontal uk-margin-large" action="{{ url_for('camera.camera_view') }}" method="POST">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-resolution_x">Resolution</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <input name="resolution_x" class="uk-input uk-form-width-medium" id="form-resolution_x" type="text" placeholder="Width" value="{{ settings['resolution_x'] }}">
                            <span class="uk-margin">×</span>
                            <input name="resolution_y" class="uk-input uk-form-width-medium" id="form-resolution_y" type="text" placeholder="Height" value="{{ settings['resolution_y'] }}">
                        </div>
                        <p><a uk-toggle="target: #camera-resolution-help" href="#"><span uk-icon="icon: info"></span> More information...</a></p>
                        <div id="camera-resolution-help" class="uk-text-small uk-text-muted" hidden>
                            <p>Make sure not to configure something your camera can not do, the limitations are:</p>
                            <dl class="uk-description-list uk-text-muted">
                                <dt>Camera V1 (all cameras that come on a flex-PCB)</dt>
                                <dd>
                                    <ul>
                                        <li>Max resolution: <span class="uk-text-primary">2592x1944</span> at 1/6-15 fps</li>
                                        <li>Max video fps
                                            <ul>
                                                <li>30fps at FullHD (1920x1080)</li>
                                                <li>49fps at HDReady (1280x720)</li>
                                                <li>90fps at VGA (640x480)</li>
                                            </ul>
                                        </li>
                                </dd>
                                <dt>Camera V2</dt>
                                <dd>
                                    <ul>
                                        <li>Max resolution: <span class="uk-text-primary">3280x2464</span> at 1/10-15 fps</li>
                                        <li>Max video fps
                                            <ul>
                                                <li>30fps at FullHD (1920x1080)</li>
                                                <li>90fps at HDReady (1280x720)</li>
                                                <li>120fps at VGA (640x480)</li>
                                            </ul>
                                        </li>
                                </dd>
                                <dt>HQ Camera</dt>
                                <dd>
                                    <ul>
                                        <li>Max resolution: <span class="uk-text-primary">4056x3040</span> at 1/200-10 fps</li>
                                        <li>Max video fps
                                            <ul>
                                                <li>50fps at FullHD (1920x1080)</li>
                                                <li>120fps at HDReady (1280x720)</li>
                                                <li>120fps at VGA (640x480)</li>
                                            </ul>
                                        </li>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-rotation">Rotation</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-rotation' name="rotation">
                            <option value="0" {% if settings['rotation'] == '0' %}selected{% endif %}>0</option>
                            <option value="90" {% if settings['rotation'] == '90' %}selected{% endif %}>90</option>
                            <option value="180" {% if settings['rotation'] == '180' %}selected{% endif %}>180</option>
                            <option value="270" {% if settings['rotation'] == '270' %}selected{% endif %}>270</option>
                        </select>
                    </div>
                </div>


                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-primary uk-align-right">Save</button>
                </div>

            </form>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title uk-background-muted uk-padding-small" href="#">Exposure</a>
        <div class="uk-accordion-content">
            <form class="uk-form-horizontal uk-margin-large" action="{{ url_for('camera.camera_view') }}" method="POST">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-iso">ISO</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-iso' name="iso">
                            <option value="auto" {% if settings['iso'] == 'auto' %}selected{% endif %}>auto</option>
                            <option value="100" {% if settings['iso'] == '100' %}selected{% endif %}>100</option>
                            <option value="200" {% if settings['iso'] == '200' %}selected{% endif %}>200</option>
                            <option value="320" {% if settings['iso'] == '320' %}selected{% endif %}>320</option>
                            <option value="400" {% if settings['iso'] == '400' %}selected{% endif %}>400</option>
                            <option value="500" {% if settings['iso'] == '500' %}selected{% endif %}>500</option>
                            <option value="640" {% if settings['iso'] == '640' %}selected{% endif %}>640</option>
                            <option value="800" {% if settings['iso'] == '800' %}selected{% endif %}>800</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-exposure_mode">Exposure mode</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-exposure_mode' name="exposure_mode">
                            <option value="auto" {% if settings['exposure_mode'] == 'auto' %}selected{% endif %}>auto</option>
                            <option value="off" {% if settings['exposure_mode'] == 'off' %}selected{% endif %}>off</option>
                            <option value="night" {% if settings['exposure_mode'] == 'night' %}selected{% endif %}>night</option>
                            <option value="nightpreview" {% if settings['exposure_mode'] == 'nightpreview' %}selected{% endif %}>nightpreview</option>
                            <option value="backlight" {% if settings['exposure_mode'] == 'backlight' %}selected{% endif %}>backlight</option>
                            <option value="spotlight" {% if settings['exposure_mode'] == 'spotlight' %}selected{% endif %}>spotlight</option>
                            <option value="sports" {% if settings['exposure_mode'] == 'sports' %}selected{% endif %}>sports</option>
                            <option value="snow" {% if settings['exposure_mode'] == 'snow' %}selected{% endif %}>snow</option>
                            <option value="beach" {% if settings['exposure_mode'] == 'beach' %}selected{% endif %}>beach</option>
                            <option value="verylong" {% if settings['exposure_mode'] == 'verylong' %}selected{% endif %}>verylong</option>
                            <option value="fixedfps" {% if settings['exposure_mode'] == 'fixedfps' %}selected{% endif %}>fixedfps</option>
                            <option value="antishake" {% if settings['exposure_mode'] == 'antishake' %}selected{% endif %}>antishake</option>
                            <option value="fireworks" {% if settings['exposure_mode'] == 'fireworks' %}selected{% endif %}>fireworks</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-exposure_compensation">Exposure compensation</label>
                    <div class="uk-form-controls">
                        <input name="exposure_compensation" id="form-exposure_compensation" class="uk-range" type="range" value="{{ settings['exposure_compensation'] }}" min="-25" max="25" step="1">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-metering_mode">Metering Mode</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-metering_mode' name="metering_mode">
                            <option value="average" {% if settings['metering_mode'] == 'average' %}selected{% endif %}>average</option>
                            <option value="spot" {% if settings['metering_mode'] == 'spot' %}selected{% endif %}>spot</option>
                            <option value="backlit" {% if settings['metering_mode'] == 'backlit' %}selected{% endif %}>backlit</option>
                            <option value="matrix" {% if settings['metering_mode'] == 'matrix' %}selected{% endif %}>matrix</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-drc">Dynamic Range Compression</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-drc' name="drc">
                            <option value="off" {% if settings['drc'] == 'off' %}selected{% endif %}>off</option>
                            <option value="low" {% if settings['drc'] == 'low' %}selected{% endif %}>low</option>
                            <option value="med" {% if settings['drc'] == 'med' %}selected{% endif %}>medium</option>
                            <option value="high" {% if settings['drc'] == 'high' %}selected{% endif %}>high</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-primary uk-align-right">Save</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title uk-background-muted uk-padding-small" href="#">Color</a>
        <div class="uk-accordion-content">
            <form class="uk-form-horizontal uk-margin-large" action="{{ url_for('camera.camera_view') }}" method="POST">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-awb_mode">Auto white balance mode</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id='form-awb_mode' name="awb_mode">
                            <option value="auto" {% if settings['awb_mode'] == 'auto' %}selected{% endif %}>auto</option>
                            <option value="off" {% if settings['awb_mode'] == 'off' %}selected{% endif %}>off</option>
                            <option value="sunlight" {% if settings['awb_mode'] == 'sunlight' %}selected{% endif %}>sunlight</option>
                            <option value="cloudy" {% if settings['awb_mode'] == 'cloudy' %}selected{% endif %}>cloudy</option>
                            <option value="shade" {% if settings['awb_mode'] == 'shade' %}selected{% endif %}>shade</option>
                            <option value="tungsten" {% if settings['awb_mode'] == 'tungsten' %}selected{% endif %}>tungsten</option>
                            <option value="fluorescent" {% if settings['awb_mode'] == 'fluorescent' %}selected{% endif %}>fluorescent</option>
                            <option value="incandescent" {% if settings['awb_mode'] == 'incandescent' %}selected{% endif %}>incandescent</option>
                            <option value="flash" {% if settings['awb_mode'] == 'flash' %}selected{% endif %}>flash</option>
                            <option value="horizon" {% if settings['awb_mode'] == 'horizon' %}selected{% endif %}>horizon</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin" id="form-awb_gain_1" hidden>
                    <label class="uk-form-label" for="form-awb_gain_red">AWB Gain Red</label>
                    <div class="uk-form-controls">
                        <input name="awb_gain_red" id="form-awb_gain_red" class="uk-range" type="range" value="{{ settings['awb_gain_red'] }}" min="0" max="8" step="0.01">
                    </div>
                </div>

                <div class="uk-margin" id="form-awb_gain_2" hidden>
                    <label class="uk-form-label" for="form-awb_gain_blue">AWB Gain Blue</label>
                    <div class="uk-form-controls">
                        <input name="awb_gain_blue" id="form-awb_gain_blue" class="uk-range" type="range" value="{{ settings['awb_gain_blue'] }}" min="0" max="8" step="0.01">
                    </div>
                </div>
                <script>
                    const awb_mode = document.getElementById('form-awb_mode');
                    awb_mode.addEventListener('change', (event) => {
                        const awb_gain_1 = document.getElementById('form-awb_gain_1');
                        const awb_gain_2 = document.getElementById('form-awb_gain_2');
                        if (event.target.value === 'off') {
                            awb_gain_1.removeAttribute('hidden');
                            awb_gain_2.removeAttribute('hidden');
                        } else {
                            awb_gain_1.setAttribute('hidden', true);
                            awb_gain_2.setAttribute('hidden', true);
                        }
                    });
                </script>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-brightness">Brightness</label>
                    <div class="uk-form-controls">
                        <input name="brightness" id="form-brightness" class="uk-range" type="range" value="{{ settings['brightness'] }}" min="0" max="100" step="1">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-contrast">Contrast</label>
                    <div class="uk-form-controls">
                        <input name="contrast" id="form-contrast" class="uk-range" type="range" value="{{ settings['contrast'] }}" min="-100" max="100" step="1">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-saturation">Saturation</label>
                    <div class="uk-form-controls">
                        <input name="saturation" id="form-saturation" class="uk-range" type="range" value="{{ settings['saturation'] }}" min="-100" max="100" step="1">
                    </div>
                </div>
                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-primary uk-align-right">Save</button>
                </div>
            </form>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title uk-background-muted uk-padding-small" href="#">Postprocessing</a>
        <div class="uk-accordion-content">
            <form class="uk-form-horizontal uk-margin-large" action="{{ url_for('camera.camera_view') }}" method="POST">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-sharpness">Sharpness</label>
                    <div class="uk-form-controls">
                        <input name="sharpness" id="form-sharpness" class="uk-range" type="range" value="{{ settings['sharpness'] }}" min="-100" max="100" step="1">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-denoise">Denoise</label>
                    <div class="uk-form-controls">
                        <input name="denoise" id="form-denoise" class="uk-range" type="range" value="{{ settings['denoise'] }}" min="-100" max="100" step="1">
                    </div>
                </div>

                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-primary uk-align-right">Save</button>
                </div>
            </form>
        </div>
    </li>
</ul>


{% endblock %}