[Unit]
Description=Planticam still image capture service

[Service]
ExecStart=/usr/bin/python3 /opt/planticam_stillcapture/capture.py
ExecReload=kill -USR1 $MAINPID
Restart=on-failure
SyslogIdentifier=planticamstill
WorkingDirectory=/opt/planticam_stillcapture

[Install]
WantedBy=multi-user.target
