[Unit]
Description=Run planticam still capture service regularly

[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=100ms
RemainAfterElapse=true

[Install]
WantedBy=timers.target


