[Unit]
Description=Planticam still image capture service

[Service]
Type=exec
ExecStart=/usr/bin/python3 /opt/planticam_stillcapture/capture.py
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=planticamstill
WorkingDirectory=/opt/planticam_stillcapture

[Install]
WantedBy=basic.target
